
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "AdminMasterPage.cshtml";
}


<h1>Users</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Date Registered</th>
        <th>Group</th>
    </tr>
    <thead>
    <tbody>
        @foreach(var user in Model.Users.AllUsers)
        {
            <tr>
                <td><a href="/admin/users/@user.Id">@user.UserName</a></td>
                <td>@user.Email</td>
                <td>@user.DateRegistered</td>
                <td><a href="/admin/usergroups/@user.Usergroup.Id">@user.Usergroup.Name</a></td>
            </tr>
        }
    </tbody>

</table>