@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "AdminMasterPage.cshtml";
}

@if(Model.User.Id == Guid.Empty)
{
    <h1>Create User</h1>
}
else
{
    <h1>Edit User: @Model.User.UserName</h1>
}

@*@if (Model.Errored)
{
    <div class="row">
         <div class="col-md-12">
             <div class="alert alert-danger" role="alert" style="padding: 10px; margin-bottom: 5px;">Invalid Username or Password</div>
         </div>
    </div>
}*@

<form action="/admin/users/create" method="POST">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="UserName" placeholder="UserName" class="form-control" required/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="Email" placeholder="Email" class="form-control" required/></td>
            </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="Password" placeholder="Password" class="form-control" required="true"/></td>
        </tr>
            <tr>
                <td>Repeat Password:</td>
                <td><input type="password" name="PasswordValidation" placeholder="Repeat Password" class="form-control" required="true" /></td>
            </tr>
        <tr>
            <td>Usergroup:</td>
            <td>
                <select class="form-control" name="Usergroup">
                    @foreach(var usergroup in Model.Usergroups)
                    {
                        <option value="@usergroup.Id">@usergroup.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-success" type="submit" value="Register Me" /></td>
        </tr>
        </tbody>
    </table>
</form>