
@using DotNancyTemplate.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "AdminMasterPage.cshtml";
}


<h1>Users</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Date Registered</th>
        <th>Group</th>
        <th>Actions</th>
    </tr>
    <thead>
    <tbody>
    @foreach(var user in Model.Users.AllUsers)
    {
        <tr>
            <td><a href="/admin/users/@user.Id">@user.UserName</a></td>
            <td>@user.Email</td>
            <td>@user.DateRegistered</td>
            <td><a href="/admin/usergroups/@user.Usergroup.Id">@user.Usergroup.Name</a></td>
            <td><a href="/admin/users/@user.Id/edit"><i class="fa fa-pencil-square fa-3x"></i></a>

                            @if (((dynamic)Html.CurrentUser).Id != user.Id)
                            {
                                <form action="/admin/users/@user.Id/remove" method="POST"><button class="btn btn-danger" type="submit"><i class="fa fa-times"></i></button></form>
                            }
</td>
        </tr>
    }
    </tbody>

</table>

<!-- Button trigger modal -->
<a href="/admin/users/create" class="btn btn-success">
    <i class="fa fa-user-plus"></i>&nbsp;New User
</a>

@section EndScripts {
    <script src="/Content/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
}