<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dbhost" value="localhost"/>
    <add key="dbport" value="5432"/>
    <add key="dbname" value="nancyTemplate"/>
    <add key="dbuser" value="test01"/>
    <add key="dbpassword" value="1234"/>
    <add key="appname" value="MyApp"/>
  </appSettings>
</configuration>