<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" />
    <title>Hmmmmmmm</title>
</head>
<body>
    <div class="container" style="height: 100%; display: table; margin-top: 100px;">
        <div class="row" style="display: table-cell; vertical-align: middle; margin-top: 100px;">
            <div class="text-center col-md-8 col-md-offset-2" style="font-size: 40px; font-weight: bolder">Whoops! Something went terribly wrong! @Model.ErrorCode</div>
        </div>
    </div>
 
</body>
</html>